@import url('https://fonts.cdnfonts.com/css/graphik');
* {
  text-decoration: none !important;
  font-family: 'graphik, sans-serif';
}
.Hero {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
.first{
  background-image: linear-gradient(to right, #733a5e, #cc7873, #301b1f);
}
.navlocker{
  background-color: rgb(23 23 23)
}
.button {
  background-color:#a1a1aa ;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  
  
}
@media screen and (min-width: 768px) {
  .MediaCard {
    width: 300px !important;
  }
}
.Mediacard2 {
  width: 200px !important;
}
.logos {
  background: rgb(237, 234, 234);
}
